<head>
  <script src="https://cdn.rawgit.com/download/polymer-cdn/2.6.0.2/lib/webcomponentsjs/webcomponents-lite.js"></script>
  <link rel="import" href="x-foo.html">
</head>
<body>
  <x-foo></x-foo>
</body>
