<head>
  <base href="https://cdn.rawgit.com/download/polymer-cdn/2.6.0.2/lib/">
  <script src="webcomponentsjs/webcomponents-lite.js"></script>
  <link rel="import" href="polymer/polymer.html">
  <link rel="import" href="iron-form/iron-form.html">
  <link rel="import" href="iron-input/iron-input.html">
  <link rel="import" href="paper-input/paper-input.html">
  <link rel="import" href="paper-button/paper-button.html">

  <link rel="import" href="paper-item/paper-item.html">
</head>
<body>
  <dom-module id="x-foo">
    <template>
      <style>
       .horizontal-section {
            padding: 10px;   
         }
         .item {
            cursor: pointer;
            display: inline;      
            background: #eee;
            color: blue;
         }
      </style>
      <iron-form id="login" on-iron-form-presubmit="_presubmit">
        <form method="post" action="#">
              <input type="text" name="none">
          <paper-input name="username" label="Nombre de usuario"></paper-input>
          <paper-button on-tap="_submit">Submit</paper-button>
        </form>
      </iron-form>
     <h3>Paper-Menu Example </h3>
      <div class="horizontal-section">
         <paper-menu>
            <paper-item class="item" on-tap="_mostrar">Inicio</paper-item>
            <paper-item class="item">Mis datos</paper-item>
            <paper-item class="item">Cuentas</paper-item>
            <paper-item class="item">Salir</paper-item>
         </paper-menu>
      </div> 
    </template>
  </dom-module>
  <script>
    HTMLImports.whenReady(() => {
      class XFoo extends Polymer.Element {
        static get is() { return 'x-foo'; }

        _presubmit(e) {
          const body = this.$.login.request.body;
          body['newkey'] = [1,2,3];
          console.log('presubmit body', body['username']);
        }

        _submit() {
          this.$.login.submit();
        }

        _mostrar(){
          alert('click');
        }
      }
      customElements.define(XFoo.is, XFoo);
    });
  </script>
</body>
